* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica, sans-serif';
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.basket-table .list-basket .item img {
	width: 100%;
}

.basket-table img {
	margin: 10px;
	padding-right: 10px;
	pointer-events: none;
}

.basket-table .list-basket .item {
	display: grid;
	grid-template-columns: 70px 50px 70px 1fr;
	gap: 20px;
	text-align: center;
	align-items: center;
}

.basket-table .quantity span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #fff;
	color: #5AB9EA;
	border-radius: 50%;
	cursor: pointer;
}

.basket-table .quantity span:nth-child(2) {
	background-color: transparent;
	color: #fff;
}

.basket-table {
	overflow: auto;
}

.basket-table::-webkit-scrollbar {
	width: 0;
}

.content {
	width: 70%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.content h2 {
	text-align: center;
	padding-top: 5%;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
}

.list-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 50px;
}

.products {
	overflow: hidden;
	background: linear-gradient(#5AB9EA, #5680E9);
	color: #fff;
	text-align: center;
	width: 240px;
	height: 340px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	margin: 1rem;
	cursor: pointer;
}

.products img {
	width: 200px;
	height: 200px;
	margin: 1rem;
	transition: all 0.5s;
}

.products:hover {
	box-shadow: 5px 15px 25px #5680E9;
}

.button-buy {
	padding: 10px;
	border: none;
	border-radius: 13px;
	margin-top: 10px;
	background-color: #5AB9EA;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}

.button-buy:hover {
	background-color: #8860D0;
}

.arrow-up {
	display: flex;
	justify-content: flex-end;
	margin-right: 6em;
}

.fa-arrow-up-long {
	font-size: 2em;
	background-color: #5AB9EA;
	border-radius: 15px;
	color: #fff;
	cursor: pointer;
}

.fa-arrow-up-long:hover {
	background-color: #fff;
	color: #5AB9EA;
}

@media (min-width: 250px) and (max-width: 900px) {
	.container .basket-table.show-basket {
		width: 340px;
		height: 500px;
		top: 3.5em;
		right: inherit;
	}

	.price {
		margin-top: 30px;
	}

	.container .basket-table.close-basket {
		width: 300px;
		height: 300px;
		top: 50px;
	}
	
	.container-products {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.arrow-up {
		margin-right: 1.8em;
	}
}
